{{if .status}}
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html lang="">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{.title}}</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="full-screen" content="true">
        <meta name="screen-orientation" content="landscape">
        <meta name="x5-fullscreen" content="true">
        <meta name="360-fullscreen" content="true">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <script type="">
            if (top.location !== self.location){
                top.location = self.location;
            }
        </script>

        <script language="javascript" type="">
            //防止页面后退
            history.pushState(null, null, document.URL);
            window.addEventListener('popstate', function() {
                history.pushState(null, null, document.URL);
            });
        </script>

        <style type="">
            *{
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
    <iframe id="myiframe" scrolling="no" frameborder="0" style="width: 100%;" allow="accelerometer *; gyroscope *; magnetometer *; geolocation *; fullscreen *; autoplay *" height="1002"></iframe>
    <script type="">
        window.onload = function(){
            let href = location.href;
            if(href.indexOf('?')>-1){
                href = href.replace('?','&');
            }
            let url = "{{.url}}" + href;
            let ifm = document.getElementById("myiframe");
            ifm.src = url;
            changeFrameHeight();
        };
        function changeFrameHeight() {
            let ifm = document.getElementById("myiframe");
            ifm.height = document.documentElement.clientHeight;
        }

        window.onresize = function() {
            changeFrameHeight();
        }
    </script>
    </body>

    </html>
{{else}}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel="icon" href="favicon.ico" type="image/x-icon" />
            <meta content="text/html" charset="UTF-8">
            <title>{{.title}}</title>
        </head>
        <body>
            <p>{{.msg}}</p>
        </body>
    </html>
{{end}}